@font-face {
    font-family: 'HNC-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Light.otf') format('otf');
}
@font-face {
    font-family: 'HNC-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Roman.otf') format('otf');
}
@font-face {
    font-family: 'HNC-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Medium.otf') format('otf');
}
@font-face {
    font-family: 'HNC-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Bold.otf') format('otf');
}
@font-face {
    font-family: 'HNC-Black';
    src: url('../fonts/HelveticaNeueCyr-Black.eot');
    src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Black.otf') format('otf');
}