* {
    zoom 1;
}
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'HNC-Roman';
}
body.thanks {
    background: url(../img/thanks_bg.jpg) no-repeat center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.thanks_container {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
}
.thanks_container h1 {
    font-family: 'HNC-Black';
    font-size: 50px;
}
.thanks_container p {
    font-family: 'HNC-Bold';
    font-size: 40px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h2 {
    font-size: 42px;
    font-family: 'HNC-Black';
}
h3 {
    font-size: 48px;
    font-family: 'HNC-Bold';
    color: #2eb4cc;
}
h4 {
    font-size: 24px;
    font-family: 'HNC-Bold';
    color: #76808e;
}
h5 {
    font-size: 16px;
    color: #565f6c;
    font-family: 'HNC-Medium';
}
p, a, ul, li, input, label, button, textarea {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #2eb4cc;
    text-decoration: underline;
    font-family: 'HNC-Light';
}
a:hover {
    color: #2eb4cc;
    text-decoration: none;
}
a:focus {
    color: #2eb4cc;
    text-decoration: none;
}

.container {
    min-width: 740px;
}

::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}

.btn_container {
    font-family: 'HNC-Light';
    font-size: 18px;
}
.btn_container .btn_transp,
.btn_container .btn_white {
    display: inline-block;
}
.btn_container .btn_transp {
    background: none;
    border: 1px solid #fff;
    padding: 19px;
    outline: none;
    color: #fff;
    width: 250px;
}
.btn_container .btn_transp:focus {
    border-color: #2eb4cc;
}
.btn_container .btn_white {
    background: #fff;
    color: #217d8f;
    text-decoration: none;
    padding: 20px;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.btn_container .btn_white:hover {
    background: #217d8f;
    color: #fff;
}

.title {
    text-align: center;
    margin-top: 10px;
}
.title h1 {
    padding: 7px 12px 5px;
    display: inline-block;
    font-family: 'HNC-Medium';
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    border: 3px solid;
}
.title.turquoise h1 {
    color: #18a0b9;
    border-color: #18a0b9;
}
.title.white h1 {
    color: #fff;
    border-color: #fff;
}
.test {
    background: #000;
}

/* Top
------------------------------------------------------------------------------------ */
.top_container {
    background: rgba(71,158,184,.5);
    text-align: right;
    position: fixed;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
    width: 100%;
    z-index: 5000;
    z-index: 100;
}
.top_container .top_inner {
    display: inline-block;
    color: #fff;
    font-family: 'HNC-Medium';
    margin: 5px;
    margin-left: 25px;
}
.top_container .callback {
    margin-right: 0;
}
.top_container .top_inner.phone {
    font-size: 20px;
}
.top_container .top_inner.phone span {
    font-family: 'HNC-Bold';
}
.top_container .top_inner.mail a {
    font-size: 18px;
    color: #fff;
    font-family: 'HNC-Medium';
    text-decoration: none;
}
.top_container .top_inner.mail a:hover {
    color: #217d8f;
}
.top_container .top_inner.callback a {
    color: #fff;
    font-family: 'HNC-Medium';
    font-size: 15px;
    text-decoration: none;
    padding: 2px 5px 3px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
    display: inline-block;
        -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    margin-right: 0;
}
.top_container .top_inner.callback a:hover {
    color: #fff;
    border-color: #217d8f;
    background: #217d8f;
}

.top_container .modal-content {
    text-align: left;
}
.top_container .modal-content .modal-body {
    padding-bottom: 40px;
}
.top_container .modal-content h4 {
    font-size: 18px;
}
.top_container .modal-content .modal-body button {
    width: 100%;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
.top_container .modal-content .modal-body button:hover {
    background: #217d8f;
    color: #fff;
}

/* Header
------------------------------------------------------------------------------------ */
.header_container {
    background: url(../img/header_bg.jpg) no-repeat center;
    padding: 94px 0;
    min-width: 750px;
}
.header_container .header_logo {
    text-align: right;
    float: right;
    min-height: 100px;
}
.header_container .header_logo img {
    margin-top: 20px;
    margin-right: -55px;
}
.header_container .header_info {
    color: #fff;
}
.header_container .header_info h1,
.header_container .header_info h2 {
    line-height: 1;
}
.header_container .header_info h1 {
    font-family: 'HNC-Black';
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.header_container .header_info h2 {
    font-family: 'HNC-Roman';
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 0 4px 8px rgba(0,0,0,.6);
    margin-bottom: 7px;
}
.header_container .header_info h2 span {
    font-family: 'HNC-Black';
}
.header_container .summ {
    margin: 60px 0 40px;
    color: #1b506c;
    text-align: left;
    font-family: 'HNC-Light';
}
.header_container .summ .min_summ,
.header_container .summ .max_summ {
    background: #fff;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    padding-top: 55px;
    display: inline-block;
    text-align: center;
}
.header_container .summ .min_summ {
    margin-right: 50px;
}
.header_container .summ p {
    font-size: 18px;
}
.header_container .summ h4 {
    font-family: 'HNC-Black';
    font-size: 30px;
    color: #2eb4cc;
    margin: 7px 0;
}
.header_container .summ h5 {
    font-size: 24px;
}
.header_container .btn_container {
    margin-top: 40px;
}
.header_container .btn_container .btn_transp {
    margin-right: 30px;
}
/* Developer
------------------------------------------------------------------------------------*/
.developer_container {
    background: url(../img/bg_developer.jpg) no-repeat center;
    padding: 50px 0;
    min-width: 750px;
}
.developer_container .logo {
    text-align: center;
}
.developer_container .title h1 {
    margin: 30px 0px 0px;
}
.developer_container .dev_content {
    border: 2px solid #fff;
    display: table;
    margin-top: 50px;
    width: 100%;
    height: 124px;
}
.developer_container .dev_content p {
    font-size: 45px;
    line-height: 44px;
    color: #63b2fc;
    font-family: 'HNC-Black';
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.developer_container .dev_content p span {
    color: #fff;
}
.developer_container p.describe {
    font-style: 18px;
    color: #fff;
    max-width: 400px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
.developer_container .dev_content.small p {
    font-size: 30px;
}
/* clients
----------------------------------------------------------------------------------------*/
.clients_container {
    color: #fff;
    min-width: 750px;
}
.clients_container .title {
    margin-top: 35px;
}
.clients_container .clients_content {
    margin-top: 170px;
    margin-bottom: 290px;
}
.clients_container h2 {
    margin-bottom: 20px;
}
.clients_container h2 a {
    color: #fff;
    text-decoration: none;
    font-family: 'HNC-Black';
}
.clients_container h2 a:hover {
    text-decoration: underline;
}
.clients_container p {
    font-size: 20px;
    width: 360px;
    line-height: 25px;
    font-family: 'HNC-Light';
}
.clients_container p a {
    color: #18a0b9;
    text-decoration: underline;
}
.clients_container p a:hover {
    text-decoration: none;
}
.clients_container.clients_1 {
    text-align: left;
    background: url(../img/clients1.jpg) no-repeat center;
    background-size: cover;
}
.clients_container.clients_2 {
    text-align: right;
    background: url(../img/clients2.jpg) no-repeat center;
    background-size: cover;
}
.clients_container.clients_2 .clients_content p {
    margin-left: auto;
}
.clients_container.clients_3 {
    text-align: left;
    background: url(../img/clients3.jpg) no-repeat center;
    background-size: cover;
}
.anonymously {
    padding: 40px 0 35px;
    background: #323232;
    min-width: 750px;
}
.anonymously .anonym {
    padding: 40px 30px 40px;
    max-width: 520px;
    border: 1px dashed #fff;
    margin: auto;
    position: relative;
}
.anonymously .anonym:before {
    position: absolute;
    content: url(../img/smile.png);
    width: 70px;
    top: -20px;
    left: 50%;
    background: #323232;
    margin-left: -35px;
}
.anonymously .anonym p {
    font-family: Arial;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 25px;
}
/* Advantages
------------------------------------------------------------------------------------ */
.advantages_container {
	margin-top: 60px;
}
.advantages_container .advantages {
	position: relative;
	height: 360px;
	margin-top: 44px;
    overflow: hidden;
}
.advantages_container .title p {
	color: #323232;
	font-size: 15px;
	margin-top: 18px;
}
.advantages_container .advantages img {
	width: 1140px;
	height: 360px;
    position: relative;
}
.advantages_container .advantages .text {
	position: absolute;
	width: 68%;
	height: 100%;
	top: 0;
	left: 16%;
	text-align: center;
	display: table;
	padding-top: 25px;
	padding-bottom: 25px;
}
.advantages_container .advantages .text.left {
	text-align: left;
	width: 48%;
	left: 5%;
}
.advantages_container .advantages .text.right {
	left: 40%;
	width: 55%;
	text-align: left;
}
.advantages_container .advantages .you_see {
	font-size: 13px;
	color: #fff;
	font-family: 'HNC-Light';
	position: absolute;
	width: 90%;
	left: 5%;
	right: 5%;
	text-shadow: 2px 0 1px rgba(0,0,0,.6);
	text-align: center;
}
.advantages_container .advantages .you_see.top {
	top: 10px;
}
.advantages_container .advantages .you_see.bottom {
	bottom: 10px;
}
.advantages_container .advantages .you_see.left {
	text-align: left;
}
.advantages_container .advantages .you_see.right {
	text-align: right;
}
.advantages_container .advantages .text .tr {
	display: table-cell;
	vertical-align: middle;
}
.advantages_container .advantages .text h1 {
	font-size: 46px;
	color: #fff;
	line-height: 46px;
	font-family: 'HNC-Black';
	text-shadow: 2px 0 8px rgba(0,0,0,.2);
}
.advantages_container .advantages .text.left h1 {
	font-size: 38px;
	line-height: 38px;
}
.advantages_container .advantages .text.right h1 {
	font-size: 38px;
	line-height: 38px;
}
.advantages_container .advantages .text p {
	font-family: 'HNC-Bold';
	font-size: 28px;
	color: #fff;
	line-height: 34px;
	margin-top: 5px;
	text-shadow: 2px 0 4px rgba(0,0,0,.4);
}
.advantages_container .advantages .text p .underscore {
	text-decoration: underline;
}
.advantages_container .advantages .text p.low {
	font-size: 15px;
	font-family: 'HNC-Light';
	line-height: 18px;
	margin-top: 30px;
}
/* Info container
----------------------------------------------------------------------------------*/
.info_container .title h1 {
	font-size: 34px;
}
.info_container {
	margin-top: 134px;
}
.info_container .info {
	text-align: center;
    margin-top: 40px;
}
.info_container .info a {
	font-size: 26px;
	color: #1b506c;
}
/* Income container
----------------------------------------------------------------------------------*/
.income {
	margin-top: 100px;
}
.income .left {
	padding-top: 60px;
}
.income .left p {
	font-size: 16px;
	color: #76808e;
	font-family: 'HNC-Light';
	margin-top: 20px;
    padding: 0 10px;
}
.income .left p span {
	font-family: 'HNC-Bold';
}
.income .right .profit {
	width: 246px;
	height: 246px;
	border-radius: 50%;
	float: left;
	font-family: 'HNC-Light';
	padding: 75px 45px;
}
.income .right .profit_37 {
	background: url(../img/profit_border1.png);
	background-size: cover;
	margin-right: 10px;
}
.income .right .profit_70 {
	background: url(../img/profit_border2.png);
	background-size: cover;
}
.income .right .profit span {
	font-size: 12px;
	color: #76808e;
	line-height: 18px;
	display: inline-block;
}
.income .right .profit h1 {
	font-size: 30px;
	color: #2eb4cc;
	margin-top: 6px;
}
.income .right .profit p {
	font-size: 20px;
	color: #76808e;
}
/* investment
--------------------------------------------------------------------------------------*/
.investment {
    background: url(../img/bg_investment.jpg) no-repeat center;
    background-size: cover;
    padding: 35px 0 40px;
    margin-top: 60px;
    min-width: 750px;
}
.investment .title {
    margin-bottom: 30px;
}
.investment .list {
}
.investment .list p {
    font-family: 'HNC-Light';
    font-size: 24px;
    color: #fff;
}
.investment .list .number_container {
    display: block;
    float: left;
    font-family: 'HNC-Bold';
    background: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
    color: #18a0b9;
    margin-bottom: 25px;
}
.growth_factor .list .factor_content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
/* growth_factor
----------------------------------------------------------------------------------*/
.growth_factor  {
    background: url(../img/bg_factor.jpg) no-repeat center;
    padding: 30px 0px 20px;
    min-width: 750px;
}
.growth_factor .title {
    text-align: left;
    margin-bottom: 40px;
}
.growth_factor .list {
    display: table;
    margin-bottom: 40px;
    width: 100%;
}
.growth_factor .list .img_container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
.growth_factor .list .factor_content {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
.growth_factor .list .factor_content p {
    width: 410px;
    font-size: 16px;
    color: #fff;
}
/* About project
------------------------------------------------------------------------------------ */
.about_project {
	margin-top: 70px;
}
.about_project .media {
	margin-top: 60px;
}
.about_project .media h4,
.about_project .media a {
	font-size: 18px;
}
.about_project .media a {
	margin-top: 3px;
	display: inline-block;
}
.about_project .media .media-body {
	padding-top: 13%;
	padding-left: 25px;
}
/* Video
------------------------------------------------------------------------------------ */
.video_container {
	margin-top: 60px;
	padding-bottom: 15px;
	background: -webkit-linear-gradient(top, #fff 30%, #D9D8D8);
	background: -moz-linear-gradient(top, #fff 30%, #D9D8D8);
	background: -o-linear-gradient(top, #fff 30%, #D9D8D8);
	background: -ms-linear-gradient(top, #fff , #D9D8D8);
	background: linear-gradient(top, #fff 30%, #D9D8D8);
	padding-bottom: 80px;
    min-width: 750px;
}
.video_container .video {
	text-align: center;
	width: 673px;
	height: 417px;
	background: url(../img/video.png);
	border-radius: 35px;
	box-shadow: 0 30px 70px rgba(0,0,0,.3);
	margin: auto;
	padding: 58px 62px 55px 61px;
	margin-top: 40px;
}
.video_container .video iframe {
	width: 100%;
	height: 100%;
    z-index: 1;
    position: relative;
}
/* Sketches
------------------------------------------------------------------------------------ */
.sketches_container {
	margin-top: 20px;
}
.sketches_container .sketches {
	margin-top: 30px;
}
.sketches_container .sketches a.item {
	width: 222px;
	height: 222px;
	display: block;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}
.sketches_container .sketches a.item:nth-child(5n) {
	margin-right: 0;
}
.sketches_container .sketches a.item img {
 	width: 100%;
	height: 100%;
}
/* Plan
------------------------------------------------------------------------------------*/
.plan_container {
	margin-top: 50px;
}
.plan {
	text-align: center;
	margin-top: 50px;
}
/* yiled
-----------------------------------------------------------------------------------*/
.yiled {
    margin-top: 80px;
}
.yiled .title {
    margin-bottom: 45px;
}
.yiled .fact {
    margin-bottom: 75px;
}
.yiled .fact p {
    font-size: 16px;
    color: #76808e;
    line-height: 26px;
}
.yiled .fact p span {
    font-size: 18px;
    color: #565f6c;
    font-family: 'HNC-Medium';
}
.yiled .down_load {
    text-align: center;
    margin-bottom: 60px;
}
.yiled .down_load img {
    margin-bottom: 20px;
}
.yiled .down_load a {
    display: block;
    width: 260px;
    margin: auto;
    color: #2eb4cc;
    font-size: 16px;
    font-family: Arial;
}
.yiled .analysis {
    padding: 35px 0 40px;
    background: #ebebeb;
    margin-bottom: 50px;
}
.yiled .analysis p {
    font-family: Arial;
    color: #8f8f8f;
    font-size: 16px;
    text-align: center;
}
.yiled .analysis p span {
    font-size: 18px;
    color: #646464;
    text-transform: uppercase;
}
.yiled .price {
    margin-bottom: 45px;
}
.yiled .price p {
    font-family: 'HNC-Light';
    font-size: 16px;
    color: #76808e;
    margin-bottom: 5px;
}
.yiled .price p span {
    font-family: 'HNC-Bold';
    font-size: 24px;
    color: #565f6c;
}
.yiled .yiled_content p {
    font-family: 'HNC-Light';
    font-size: 16px;
    color: #565f6c;
    margin-bottom: 25px;
}
.yiled .yiled_content p span {
    font-family: 'HNC-Medium';
}
/* Differences
------------------------------------------------------------------------------------*/
.differences_container {
	background: url(../img/difference_bg.jpg) no-repeat center;
	padding-top: 30px;
	padding-bottom: 50px;
	margin-top: 30px;
    min-width: 750px;
}
.differences_container .title h1 {
	font-size: 18px;
}
.differences_container .differences ul {
	padding-top: 10px;
}
.differences_container .differences li {
	font-size: 18px;
	color: #fff;
    font-family: 'HNC-Roman';
    margin-top: 40px;
    position: relative;
    padding-left: 33px;
}
.differences_container .differences li:before {
	content: '';
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 2px;
	background: url(../img/difference_icon.png);
}
.differences_container .differences p {
	font-size: 18px;
	color: #fff;
    font-family: 'HNC-Roman';
    margin-top: 50px;
}
/* investigation
-----------------------------------------------------------------------------------*/
.investigation {
    padding: 50px 0px;
}
.investigation table {
    border: 1px solid #ececec;
    width: 100%;
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0px 3px 25px 0px rgba(50, 50, 50, 0.34);
    -moz-box-shadow:    0px 3px 25px 0px rgba(50, 50, 50, 0.34);
    -o-box-shadow:    0px 3px 25px 0px rgba(50, 50, 50, 0.34);
    -ms-box-shadow:    0px 3px 25px 0px rgba(50, 50, 50, 0.34);
    box-shadow:         0px 3px 25px 0px rgba(50, 50, 50, 0.34);
    margin: 15px 0px 40px;
}
.investigation table tr th {
    color: #fff;
    font-size: 11px;
    background: #839ab5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.investigation table tr td {
    color: #000000;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.investigation table tr td:first-child,
.investigation table tr th:first-child {
    padding-left: 15px;
}
.investigation table tr:nth-child(2n+3) td {
    background: #f2f2f2;
}
.investigation p {
    font-size: 16px;
    color: #76808e;
}
.investigation .research h5 {
    margin-bottom: 20px;
}
.investigation .research p {
    margin-bottom: 20px;
}
.investigation .table_describe {
    margin-bottom: 20px;
}
.investigation .double a {

    display: block;
    width: 230px;
    text-align: center;
}
.investigation .double a p {
    color: #2eb4cc;
}
.investigation .double a img {
    margin: 20px 0px 20px;
}
.investigation .opinions {
    margin: 40px 0 0px;
}
.investigation .opinions p {
    margin-bottom: 22px;
}
.investigation .opinions p span {
    font-family: 'HNC-Bold';
}
.investigation .opinions h4 {
    margin-bottom: 25px;
}
.investigation .opinions ul li p {
    margin-bottom: 0px;
}
.investigation .opinions ul li {
    padding-left: 15px;
    position: relative;
}
.investigation .opinions ul li:first-child {
    padding-left: 0px;
}
.investigation .opinions ul li:first-child:before {
    content: none;
}
.investigation .opinions ul {
    margin-bottom: 25px;
}
.investigation .opinions ul li:before {
    content: url(../img/circle.png);
    position: absolute;
    top: -1px;
    left: -2px;
}
.investigation .opinions h3 {
    margin-bottom: 25px;
}

/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
    background: url(../img/footer_bg.jpg) no-repeat center;
    padding: 200px 0 140px;
    margin-top: 30px;
    min-width: 750px;
}
.footer_container .contacts {
    background: #fff;
    width: 550px;
    margin: auto;
    padding: 50px;
    text-align: center;
}
.footer_container .contacts p {
    font-family: 'HNC-Light';
    font-size: 18px;
    color: #1b506c;
}
.footer_container .contacts h5 {
    font-family: 'HNC-Bold';
    font-size: 25px;
    color: #1b506c;
}
.footer_container .btn_container {
    margin-top: 60px;
    text-align: center;
}
.footer_container .btn_container .btn_transp,
.footer_container .btn_container .btn_white {
    margin: 0 10px;
}
/* Media
-----------------------------------------------------------------------------------*/
@media screen and (max-width: 1265px) {
    .header_container .header_logo img {
        margin-right: 0px;
    }
}
@media screen and (max-width: 1199px) {

    .investment .list p {
        width: 80%;
    }
	.info_container .info img {
		width: 100%;
	}
	.sketches_container .sketches {
		padding-left: 32px;
	}
	.sketches_container .sketches a.item:nth-child(5n) {
		margin-right: 6px;
	}
	.plan_container img {
		width: 100%;
	}
	.income .left {
		padding-top: 20px;
	}
	.income .right .profit {
		width: 220px;
		height: 220px;
		padding: 65px 25px 55px 35px;
	}
	.advantages_container .advantages .text {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 991px) {
    .header_container {
    padding: 75px 0 35px;
}
    .header_container .header_info h1 {
        font-size: 43px;
    }
    .header_container .header_logo img {
        width: 300px;
    }
	.sketches_container .sketches {
		padding-left: 36px;
	}
	.income .left {
		padding-top: 0;
	}
	.income .right {
		text-align: center;
		margin-top: 20px;
	}
	.income .right .profit {
		width: 246px;
		height: 246px;
		padding: 75px 45px;
		display: inline-block;
		float: none;
		text-align: left;
	}
    .advantages_container .advantages img {
    left: -70px;
}
	.advantages_container .advantages .text.right h1 {
		font-size: 34px;
		line-height: 36px;
	}
	.advantages_container .advantages .text p.low {
		margin-top: 15px;
		font-size: 14px;
	}
	.advantages_container .advantages .text {
		width: 90%;
		left: 5%;
	}
	.full_size_sm {
		width: 100%;
	}
	.full_size_sm .row > div {
		padding: 0;
	}
	.developer_container .dev_content {
		line-height: 45px;
	}
	.developer_container .dev_content.small p {
		line-height: 38px;
	}
    .developer_container .dev_content p {
        font-size: 35px;
    }
    .header_container .summ {
        margin: 30px 0 15px;
    }
    .header_container .summ .min_summ,
    .header_container .summ .max_summ {
        width: 180px;
        height: 180px;
        padding-top: 40px;
    }
    .header_container .summ p {
        font-size: 15px;
    }
    .header_container .summ h4 {
        font-size: 25px;
    }
    .header_container .summ h5 {
        font-size: 22px;
    }
    .header_container .btn_container {
    margin-top: 30px;
}
}

@media screen and (max-width: 767px) {
    .header_container .header_logo img {
        width: 250px;
    }
}
/*@media screen and (max-width: 767px) {
    .top_container {
        text-align: center;
    }
    .top_container .top_inner {
        margin: 5px;
    }
    .header_container .header_info h1,
    .header_container .header_info h2 {
        text-align: center;
    }
    .header_container .header_logo {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .header_container .header_logo img {
        width: auto;
    }
    .header_container .summ {
        text-align: center;
        margin: 40px 0 20px;
    }
    .header_container .summ .min_summ {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .header_container .summ .min_summ,
    .header_container .summ .max_summ {
        margin-left: 10px;
        margin-right: 10px;
    }
    .header_container .btn_container {
        text-align: center;
    }
    .header_container .btn_container .btn_transp,
    .header_container .btn_container .btn_white {
        margin: 5px;
    }
    .footer_container .contacts {
        width: 100%;
    }
    .footer_container .btn_container .btn_transp,
    .footer_container .btn_container .btn_white {
        margin-top: 20px;
    }
}*/
@media screen and (max-width: 618px) {
    .investment .list .number_container {
        margin-bottom: 65px;
    }
}
@media screen and (max-width: 534px) {
    .growth_factor .list .factor_content p {
        width: 90%;
    }
    .header_container .header_info h1 {
        font-size: 38px;
    }
    .header_container .header_info h2 {
        font-size: 18px;
    }
}
